<% var pagedisplaytype = "content" %>
<% var pagedisplaytypeSpecific = "collection" %>
<% include ../shared/header %>
<body class=" periodical-collection">
	<div class="periodical-page-border top"></div>
	<div class="periodical-page-border right"></div>
	<div class="periodical-page-border left"></div>
	<div class="periodical-page-border bottom"></div>
	<div class="header-container">
    <% include ../shared/nav %>
  </div>

<section id="linotype" class="linotype">
	<% if(collection.items && collection.items.length>0){
		collection.items.forEach(function(itemObj,index){%>
			<article class="section <%if(index===0){%>active<%}%>" id="section<%= index %>">
				<% var contentEnitity = itemObj.item;
					  contentContentAttributes = (contentEnitity.contenttypeattributes && contentEnitity.contenttypeattributes.periodical)? true : false; 
					  contentBgImgUseDefault = false;
					  %>

				  
				<% include ../shared/partial/_contentEntity_bgImg %>
				<% include ../shared/partial/_contentEntityTitle_subTitle %>
		  </article>
		<%});
	}%>
</section>

<% include ../shared/footer %>