<% var pagedisplaytype = "content" %>
<% var pagedisplaytypeSpecific = "collection" %>
<% include ../shared/header %>
<body class=" periodical-collection">
	<div class="periodical-page-border top"></div>
	<div class="periodical-page-border right"></div>
	<div class="periodical-page-border left"></div>
	<div class="periodical-page-border bottom"></div>
	<div class="header-container">
    <% include ../shared/nav %>
  </div>

  <%
  	var contentEnitity = collection;
	  contentContentAttributes = (contentEnitity.contenttypeattributes && contentEnitity.contenttypeattributes.periodical)? true : false; 
	  var contentContentCollectionAttributes = (contentEnitity.contenttypeattributes && contentEnitity.contenttypeattributes['periodical-collection'])? true : false; 

	if(contentContentCollectionAttributes && contentEnitity.contenttypeattributes['periodical-collection'].effect==='list') {
		showCollectionContent = true;
		%>
		<% include _collectionListViewScroll %>
	<%}
	else{%>
		<% include _linotype %>
	<%}%>

<% include ../shared/footer %>