<header class="header">
	<div class="bg-img">
		<img id="background-media-element" class="lazyload" src=
		<% if(contentEnitity.primaryasset && contentEnitity.primaryasset.fileurl){%>
				"<%- contentEnitity.primaryasset.fileurl  %>"
			<%}
			else{%> "<%= locals.themehelper.themePublicResourcePath('periodicjs.theme.periodical','img') %>/periodical-default-background.jpg" <%} %>
		 alt="Background Image"/>
	</div>
	<%if(contentEffect!=='sidefixed'){%>
	<div class="title">
		<h1><%- contentEnitity.title  %></h1>
		<% if(contentEffect==='fadeout' || contentEffect==='side' || contentEffect==='jam3'){ %>
			<% if(contentContentAttributes){ %>
				<p class="subline"><%- contentEnitity.contenttypeattributes.periodical.dek %></p>
			<% } %>
			<%
				var metaauthor = contentEnitity.primaryauthor;
				var metadate = contentEnitity.createdat;
			%>
			<% include _itemmeta %>
		<% } %>
	</div>
	<%}%>
</header>
<button class="trigger" data-info="Click to read more"><span>&#8595;</span></button>
