<div class="bg-img">
	<% if(contentEnitity.primaryasset && contentEnitity.primaryasset.fileurl){%>
 	<img class="lazyload background-media-element <% if(contentDimBigImg){%>dim<%}%>" src="<%- contentEnitity.primaryasset.fileurl  %>" alt="Background Image"/>
 <%}
 else if(contentBgImgUseDefault){%>
 	<img class="lazyload background-media-element <% if(contentDimBigImg){%>dim<%}%>" src="<%= locals.themehelper.themePublicResourcePath('periodicjs.theme.periodical','img') %>/periodical-default-background.jpg" alt="Background Image"/>
 <%} %>
</div>	